# Virtual Environment
venv/
myenv/
env/
.env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# PyTorch model files
*.pth
model/*.pth

# macOS
.DS_Store

# IDE
.vscode/
.idea/

