# Virtual Environment
venv/
myenv/
env/
.env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Model files and directories
*.pth
model/
ml-server/model/
backend/src/modules/best_model.pth

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Dependencies
node_modules/

