# Virtual Environment
venv/
myenv/
env/
.env/
.venv/
**/site-packages/
*.dylib

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# ML Model files
*.pth
ml-server/model/
**/model/best_model.pth

# PyTorch files
**/torch/
**/torch_cpu.dylib
**/libtorch_cpu.dylib

# macOS
.DS_Store

# IDE
.vscode/
.idea/

